html {
    font-size: 10px;
    background: url('./images/background.png') bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    float:left;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  button {
    display: block;
    font-size: 2.7rem;
  }

  #rock{
      background: url('./images/rock.jpg') no-repeat;
      background-size: 100% 100%;
      width: 150px;
      height: 150px;
  }
  #paper{
      background: url('./images/paper.png') no-repeat;
      background-size: 100% 100%;
      width: 150px;
      height: 150px;
  }
  #scissors{
      background: url('./images/scissors.png') no-repeat;
      background-size: 100% 100%;
      width: 150px;
      height: 150px;
  }